* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e3eb;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.display {
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(105, 103, 103);
    text-align: right;
    font-size: 25px;
    color: #000e1a;
    border-radius: 5px;
}

.button {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.button button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(134, 130, 130, 0.5);
}

.button button:active {
    transform: scale(0.95);
}

.operator {
    color: #2f9fff;
}

h2 {
    margin-top: 20px;
}